<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kzk.mapper.RolePowerMapper">
    <delete id="delPower">
        delete from rolepower where roleId = #{roleId}
    </delete>

    <insert id="addPower">
        insert into rolepower(roleId,powerId) values (#{roleId},#{powerId})
    </insert>
</mapper>